/* Main page container */
.fp-page-container {
  display: flex;
  height: 100vh;
  background-color: #d8e9f3;
}

/* Left side for spacing */
.fp-left-container {
  flex: 1;
  width: 50%;
  background-image: url('./image.png'); /* Add your image path */
  background-size: cover;
  background-position: center;
}



/* Right side container for the form */
.fp-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #004d40;
}

/* Title styling */
.fp-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 4cm;
}

/* Form container */
.fp-form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
}

/* Form title */
.fp-form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Form text */
.fp-form-text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Form label */
.fp-form-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Form input */
.fp-form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit button */
.fp-submit-button {
  width: 100%;
  padding: 10px;
  background-color: #004d40;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.fp-submit-button:hover {
  background-color: #00695c;
}

/* Error message styling */
.fp-error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Back to login link */
.fp-back-to-login {
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.fp-back-to-login .fp-back-btn-link {
  color: #004d40;
  text-decoration: none;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.fp-back-to-login .fp-back-btn-link:hover {
  text-decoration: underline;
}

/* Footer styling */
.fp-footer {
  margin-top: 20px;
  font-size: 14px;
 
  color: #004d40;
}
