.reset-password-container {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #eaeaea;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #004d40;
  background-color: #d8e9f3;
  width: 50%;
}

.reset-password-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.left-container {
  width: 50%;
  background-image: url('./image.png'); /* Add your image path */
  background-size: cover;
  background-position: center;
}
.reset-password-form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: left;
}

.reset-password-form-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reset-password-form-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.reset-password-form-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.reset-password-form-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-submit-button {
  width: 100%;
  padding: 10px;
  background-color: #004d40;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  
}

.reset-password-submit-button:hover {
  background-color: #00695c;
}

.reset-password-form-link {
  color: #004d40;
  text-decoration: none;
}

.reset-password-form-link:hover {
  text-decoration: underline;
}

.reset-password-back-to-login {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #004d40;
}

.reset-password-footer {
  margin-top: 20px;
  font-size: 14px;
  color: #004d40;
}

.reset-password-popup-message {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  animation: fade-in-out 3s forwards;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
